{%  extends 'base.html' %}

{% block name %}
    {{ john }}
{% endblock %}
{% block quote %}
    {{ life_quote }}
{% endblock %}

{% block content %}
    <p>Delete musician: {{ band.name }}?</p>
    <form action="" method="POST">
        {% csrf_token %}
        <input type="submit" value="Yes, delete">
        &nbsp; &nbsp;
        <a href="{% url 'band-detail' band.pk %}">No, keep it</a>
    </form>
{% endblock %}


{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#</head>#}
{#<body>#}
{##}
{#</body>#}
{#</html>#}